$green-color: #32A361;

html {
  scroll-behavior: smooth;
}

.protest-guerrilla-regular {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.border-green {
  border-color: $green-color !important;
}

.bg-green {
  background-color: $green-color;
}

.text-green {
  color: $green-color;
}

// animated link arrow on hover
a {
  svg.bi-arrow-right {
    transition: 0.6s right linear;
    right: 0;
  }
  &:hover {
    svg.bi-arrow-right {
      right: -5px;
    }
  }
}

@media(min-width: 576px) {
  header:after {
    content: "";
    width: 10vw;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM0IiBoZWlnaHQ9IjI2IiB2aWV3Qm94PSIwIDAgMzM0IDI2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8bGluZSB4MT0iNDAiIHkxPSIyIiB4Mj0iMzM0IiB5Mj0iMiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSI0Ii8+CjxsaW5lIHkxPSIyNCIgeDI9IjMzNCIgeTI9IjI0IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjQiLz4KPC9zdmc+Cg==);
    height: 26px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 18px;
    display: block;
    right: 0;
  } 
}

// animated svg in banner
/* Google chrome */
@-webkit-keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: $green-color;
  }
  100% {
    stroke-dashoffset: 0;
    fill: $green-color;
  }
}
/* Most browsers */
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: $green-color;
  }
  100% {
    stroke-dashoffset: 0;
    fill: $green-color;
  }
}

// animated mouse down scroll
.animated-svg-holder {
  svg {
    max-width: 80vw;
    margin: 0 auto;
    display: block;
  }
  .moving-mouse-holder {
    width: 170px;
    position: absolute;
    bottom: 15vh;
    .mouse {
      width: 26px;
      height: 40px;
      position: relative;
      right: 0;
      border-radius: 18px;
      border: 2px solid #000000;
      .mouse-button {
        background-color: #000000;
        width: 4px;
        height: 10px;
        border-radius: 2px;
        position: absolute;
        top: 10px;
        left: 50%;
        margin: 0 0 0 -2px;
        animation: mouse-scroll 1s infinite alternate;
      }
    }
    .text {
      margin-top: -30px;
      margin-left: 40px;
      color: #000000;
      font-size: 12px;
      line-height: 1em;
    }
  }
}

/* Google chrome */
@-webkit-keyframes mouse-scroll {
  to {
    transform: translate(0, 6px) scale(1, 0.8);
  }
}
/* Most browsers */
@keyframes mouse-scroll {
  to {
    transform: translate(0, 6px) scale(1, 0.8);
  }
}

.video-wrapper {
  height: 400vh;
  .fact {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      width: 100%;
      padding: 20px 20px;
      background-color: #FFFFFF;
      border-radius: 13px;
      max-width: 360px;
      text-align: center;
      margin: 0;
    }
  }
}

.embedded-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media(min-width: 768px){
  .column-with-lines:before,
  .column-with-lines:after{
    content:  "";
    height: 60%;
    width: 4px;
    display: block;
    background: #31a361;
    position: absolute;
    top: 20%;
  }

  .column-with-lines:before {
    left: -2px;
  }

  .column-with-lines:after {
    right: -2px;
  }
}

.directions {
  overflow: hidden;
  margin: 20px 0;
  .directions-row {
    @media screen and (max-width: 1320px) {
      padding-left: calc((100% - 960px) / 2);
    }
    @media screen and (max-width: 992px) {
      padding-left: calc((100% - 720px) / 2);
    }
    @media screen and (max-width: 767px) {
      margin: 0;
      padding: 15px 0;
    }
    padding-left: calc((100% - 1320px) / 2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .text-box {
      width: 35%;
      padding: 10px;
      position: relative;
      @media screen and (max-width: 767px) {
        width: 100%;
        max-width: 540px;
        margin: 20px auto;
      }
    }
    .text-box:before,
    .text-box:after{
      content: "";
      height: 4px;
      display: block;
      position: absolute;
      bottom: 0px;
      display: block;
      left: 10px;
      background: $green-color;
    }
    .text-box:before {
      width: 140px;
      bottom: 10px;
    }
    .text-box:after{
      width: 100px;
      bottom: 0px;
    }
    .map-box {
      width: 65%;
      height: 50vh;
       @media screen and (max-width: 767px) {
        width: 100%;
        max-width: 540px;
        margin: auto;
      }
    }
  }
}
